span{
    word-wrap: break-word; 
}
.p{
    position: absolute;
}
.liAutocomplete{
    border:1px solid black;
}
.liAutocomplete:hover{
    background-color: grey;
    color:white;
}
.ulAutocomplete{

}
#enteteVente{
    background-color:white;
    color:#1F838D;
    text-align:center;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
#body{
    border:2px solid white;
    text-align:center
}

#ajout{
    border:2px solid white;
    margin-top:10px;width:90%;
    margin-left:auto;
    margin-right:auto;
}
#ajout p:first-child{
    background-color:white;
    color:#1F838D;
}
#form :first-child{
    width:40%;
    display:inline-block;
}
#ulauto{
    position:absolute;
    background-color:white;
    list-style-type:none;padding-left:0px;
    width:20%;
}
#ulauto > li{
    cursor:pointer;
    text-align:left;
}
.qp{
    width:25%;
    display:inline-block;
}
.qp > input{
    borderRadius:5px;
    width:50%;
    margin-left:15px;
}
.qp > label{
    color:white;
}
#tableProds{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
#tableProds > table{
    border:1px solid #1F838D;
}
#tableProds > table > thead{
    background-color:white;
    color:#1F838D;
}
#tableProds > table > tbody{
    background-color:#CFD4FF;
}
#validation{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    background-color:white;
}
#validation div:first-child{
    background-color:#F7DF09;
    box-shadow:2px 2px 2px 2px #474747;
    color:white;
    width:30%;
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
}
#validation div:last-child{
    width:20%;
    display:inline-block;
    margin-top:10px;
    background-color:green;
    color:white;
    margin-bottom:10px;
    box-shadow:2px 2px 2px 2px #474747;
    cursor:pointer;
}
.tableProds{
    display:block;
}
.tableProdS{
    display:none;
}